 <!-- Image -->
 <div class="flex justify-center">
    {% image "src/images/portrait.jpg", "Portrait image", "rounded-full shadow-md h-44 w-44 object-cover object-bottom"%}
</div>

<!-- Information -->
<div class="grid grid-cols-1 divide-y-2 divide-gray-900 dark:divide-gray-50">
    <!-- name -->
    <div class="flex justify-center pb-2 pl-3 pr-3">
        <h1 class="text-4xl">{{ metadata.contact_info.name }}</h1>
    </div>

    <!-- Profile links -->
    {% include "section/contact.njk" %}
    
</div>