<header class="fixed w-full bg-gradient-to-r from-slate-600  to-slate-800 z-50 flex justify-between items-center transition-all duration-200 h-20
" 
:class="{'h-20': !scrolledFromTop, 'h-12': scrolledFromTop}">    
    <nav class="flex flex-row justify-between h-12 p-3 w-full">
        <!-- Left side -->
        <div class="flex flex-row items-center fill-current space-x-3">
            <span>
                <a class="font-montserrat font-medium text-xl" href="/">
                    {{ metadata.title }}
                </a>
            </span>
            <p>|</p>

            <!-- Toggle dark mode -->
            <button id="switchTheme">
                <svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" /></svg>
                <svg class="hidden dark:block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5" />
                    <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42" />
                </svg>
            </button>
        </div>

        <!-- Right side -->
        <!-- Desktop (lg) -->
        <div class="flex flex-row items-center">
            <div class="hidden md:flex text-md space-x-6">
                <a href="#home" class="md:inline-block hover:text-white">Home</a>
                <a href="#projects" class="md:inline-block hover:text-white">Projects</a>

              <!--   {% for page in collections.pages %}
                <a href="{{ page.url }}" class="md:inline-block hover:text-white">{{ page.data.title }}</a>
                {% endfor %} -->
            </div>
        </div>

        <!-- Mobile dropdown (md & below) -->
        <div class="block md:hidden">
            <nav x-data="{ dropdownOpen: false }">
                <!-- Button -->
                <button class="block relative p-3 focus:outline-none" @click="dropdownOpen = !dropdownOpen">
                    <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-300 ease-in-out" :class="{'rotate-45': dropdownOpen,' -translate-y-1.5': !dropdownOpen }"></span>
                        <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-300 ease-in-out" :class="{'opacity-0': dropdownOpen } "></span>
                        <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-300 ease-in-out" :class="{'-rotate-45': dropdownOpen, ' translate-y-1.5': !dropdownOpen}"></span>
                    </div>
                </button>

                <!-- Dropdown -->
                <div x-show="dropdownOpen" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="transform opacity-0 scale-50" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-3 mt-2 dark:bg-gray-100 bg-gray-600 rounded-md shadow-lg overflow-hidden z-20 w-44">
                    <div>
                        <a href="#home" class="flex items-center p-3 border-b hover:bg-gray-600 dark:hover:bg-gray-100 mx-2">
                            <p class="dark:text-gray-700 text-lg items-center">
                                Home
                            </p>
                        </a>
                        <a href="#projects" class="flex items-center p-3 border-b hover:bg-gray-600 dark:hover:bg-gray-100 mx-2">
                            <p class="dark:text-gray-700 text-lg items-center">
                                Projects
                            </p>
                        </a>
         <!--                {% for page in collections.pages %}
                        <a href="{{ page.url }}" class="flex items-center p-3 border-b hover:bg-gray-100 mx-2">
                            <p class="dark:text-gray-700 text-lg items-center">
                                {{ page.data.title }}
                            </p>
                        </a> 
                        {% endfor %} -->
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>