/* Fill page with image */
body, html {
    padding-top: 0rem;
    height: 100%;
    margin: 0;
}

.top{
    position: relative;
    top: 27%;
    text-align: center;
}



.text{
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
}

.bg_no{
    background-image: url('/images/bgGray.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
}
/* Background image - Set to norway? */
.bgimg {
    background-image: url('/images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Set my name */
#topleft {
    padding-left: 20px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
}

/* The links to different webpages */
#links {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    color: brown;
}

/* Text in bottom */
#bottomleft {
    position: absolute;
    bottom: 0px;
    left: 16px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
}

/* Title center */
#middle {
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 00;
}


/* Line */
hr {
    margin-top: 0.7rem;
    margin-bottom: .7rem;
    border: 0;
    width: 33%;
    border-top: 1.6px solid rgb(0, 0, 0);
}