/* This stylesheet is built for index.html and is the contains alot of different commands i have used to lear CSS and HTML */
/* Root variables that works on whole page - can be used to declare global CSS variables (i.e. all lines are one color)*/
:root {
  /* Defines the variable "thin-red-line" as the color orange (does not currently work) */
  --variable1: orange;
  --variable1: 10px;
  --variable1: 50%;
}
/* This should create a navigationbar */
.header {
  width:100%;
  height: 180px;
  position: fixed;
  top:0px;
  left:0px;
  background: grey;

}

/* This should more all the content bellow this box */
.content {
  width: 100%;
  height: 900px;
  margin-top:200px;
}

.footer {
  width:100%
  height:40px;
  background:green;
  margin-bottom: 0px;
}

/* This is just standard variables that are defined */
/* This ads color to h1 - changes tags -  and change the font size */
h1 {
  color: red;
  font-size: 40px;
/* we can also transform the text to uppercase, lowercase, capitaize, and more */
text-transform: uppercase;
font-weight: 500;
}

/* I can move items using CSS - it pushes stuff away from the direction sepcified- ignoring HTML flow */

h2 {
  position: relative;
  bottom: 15px;
  left: 10px;
}

/* We can also use absolute positions - which lock something  and fixed - which sets it somewhere absolute - wont move when person scrool - its just there!*/
/* This creates a fixed boxed (it is fixed to the same place at the screen) */
.chewie-box{
position: fixed;
top:70px;
right:20px;
border-radius: 50%;
width: 140px;
}

/* Here i define a boxes which i use in my html (based on class)  Also adds shadows*/
.box1{
  top: 200px;

  width: 400px;
  border: 1px solid black;
  background-color: #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.box2{
  width: 400px;
  border: 1px solid black;
  background-color: orange;
  border-radius: 5px;
  margin: 1px 5px;
  padding: 10px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Link class definition - only if mouse hover over it*/
.links:hover{
  color: pink;
}

/* Define .blue-text class as color blue - In HTMl you can refeer back to this using the CLASS command. CLASS is usually better than ID */
.blue-text {
  color: blue;
}

/* Define .blue-text string as color blue */
.px13 {
  font-size: 13px;
}

/* Define Lobster string as lato font and degrade to monospace if lato is not avaliable*/
.lobster {
  font-family: "Lato", monospace;
}

/* Set size of image as the sting larger.image*/
.image {
  width: 400px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Defines a border based on a previously defined variable (thin-red-border) */
.thin-red-border {
  border-width: var(--variable1);
  border-color: var(--test-color);
  border-style: solid;
  border-radius: var(--variable1);
  /*one can also use px*/
  ;
}

/* Defines the string silver-background as silver */
.silver-background {
  --test-color: pink;
  background-color: silver;
}

/* Aligns text - h4 -- You can align test to center, right, left or justify (lige marger) - Text can only be aligned inside a div */
#text_align_test{
  text-align: center;
  font-size: 20px;
}

/* Defines a thing based on the ID (#) - Here we can set the opaciy by using the a statement after rgb*/
#some_text {
  background-color: rgba(45, 45, 45, 0.1);
  line-height: 25px;
}

/* Defines the margins (space around) for the ratio buttons (checkboxes)*/
[type="checkbox"] {
  margin: 20px 1px 20px 0px;
}

/* Gives the entire background a color */
body {
  background-color: rgb(137, 207, 240);
}
