/* Define root variables that works on whole page - Can use to define more styles (i.e. all lines are one color)*/
:root {
  --thin-red-border: white;
}

  h1 {
    color: red;
  }

/* Define .blue-text string as color blue */
.blue-text {
  color: blue;
}

/* Define .blue-text string as color blue */
.px13{
  font-size: 13px;
}

/* Define Lobster string as lato font and degrade to monospace if lato is not avaliable*/
.lobster{
  font-family: "Lato", monospace;
}

/* Set size of image*/
.larger-image {
   width: 500px;
 }

 /* Defines a border */
.thin-red-border {
  border-color: var(--thin-red-border);
  border-width: 5px;
  border-style: solid;
  border-radius: 50% /*one can also use px*/;
}

.silver-background{
  --test-color: pink;
  background-color: silver;

}

/* Defines a thing based on the ID (#)*/
#some_text {
  background-color: green;
}

/* Defines the margins (space around) for the ratio buttons (checkboxes)*/
[type="checkbox"]{
  margin: 20px 1px 20px 0px;
}

/* Gives the entire background a color */
body{
  background-color: rgb(137,207,240);
}
