<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Askeland.me - {{ title }}</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/style.css" />

        <!-- Alpine js -->
        <script type="module" src="/scripts/alpine.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <!-- Intersect observer -->
        <script defer src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"></script>

        <!-- Analytics -->
        <script data-goatcounter="https://askeland.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </head>

    <!-- Main content -->
    <body 
        x-data="{navOpen: false, scrolledFromTop: false}"
        x-init="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false"
        @scroll.window="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false"
        :class="{'overflow-hidden': navOpen,'overflow-scroll': !navOpen}"
        class="ont-montserrat mx-auto">
        <div class="flex flex-col h-screen justify-between text-gray-100">
            <!-- Navbar -->
            {% include "section/navbar.njk" %}

            <!-- Content -->
            <main class="flex-grow w-full text-gray-900 dark:text-gray-100 ">
                {{ content | safe }}
            </main>

            <!-- Footer -->
            {% include "section/footer.njk" %}

        </div>
    </body>
</html>


<!-- Scripts -->
<script>
    /* Sets theme based on loalstorage */
    if (localStorage.theme === "dark" || (!"theme" in localStorage && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.querySelector("html").classList.add("dark");
    } else if (localStorage.theme === "dark") {
        document.querySelector("html").classList.add("dark");
    }

    /* Change theme */
    document.getElementById("switchTheme").addEventListener("click", function () {
        let htmlClasses = document.querySelector("html").classList;
        if (localStorage.theme == "dark") {
            htmlClasses.remove("dark");
            localStorage.removeItem("theme");
        } else {
            htmlClasses.add("dark");
            localStorage.theme = "dark";
        }
    });
</script> 