<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="custom.css">
</head>

<!-- Body -->
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mr-4" href="/">Anders Askeland</a>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/about">Portfolio</a>
                <a class="nav-item nav-link" href="#" onclick="window.location.reload(true);">CV</a>
            </div>
            
        </div>
    </nav>
    
    <!-- PDF -->
    <div class="container justify-content-center">
        <embed src="main.pdf" width="800px" height="2100px"/>
    </div>
</body>
</html>
