---
new_page_extension: html
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: heading
  label: Settings
- type: document
  path: src/_data/metadata.json
  label: Metadata
- type: heading
  label: Content
- type: directory
  path: src/posts
  label: Posts
  create: documents
  match: "**/*"
  exclude: "*.json"
- type: directory
  path: src/projects
  label: Projects
  create: all
  match: "*.md"
- type: directory
  path: src/pages
  label: Pages
  create: all
  match: "*.html"
  new_doc_ext: njk
upload_dir: src/images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: dist
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run dev
