---
title: Resume
tags": pages
---

    <div class="flex flex-col flex-grow bg-red-400">
        <div class="flex flex-col content-start max-w-3xl   bg-blue-400">

            <!-- Title -->
            <h1 class="text-3xl">Resume</h1>
            
            <!-- Header -->
            <header class="">
                {{ resume.basics.label }}
            </header>
        </div>
    </div>
    