---
title: Hello World
layout: "base.njk"
---

<h1 class="text-xl">Test</h1>
Hello test
<div class="text-xl">
    <!-- Shows all posts -->
    {% for post in collections.posts %}
    <ul class="list-decimal">
        <li class="text-red-500">
            <a class="text-center" href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    </ul>
    {% endfor %}
</div>
